* {
    margin: 0;
}

 .app {
    display: flex;
     justify-content: space-evenly;
    background-color: #f5f6fa;
    padding: 20px; 
} 

.app__left{
    flex: 0.8;
}

body {
    background-color: #f5f6fa;
  }

  .app__header {
     display: flex;
      align-items: center; 
     margin-bottom: 20px; 
     justify-content: space-between; 
  }

  .app__header h1 {
      color: red;
  }
  .app__stats {
     display: flex;
     justify-content: space-between;
  }

  .MuiFormControl-root {
      background-color: white !important;
  }

.chartjs-render-monitor {
    height: 250px !important;
}


.lineGraph {
    margin-top: 34px;
}

.app__graph {
    height: 400px !important;
}